@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button-styling{
    
}


.action-modal{
    display: flex;
    justify-content: flex-end;
    position: relative;
    .action-options{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        min-width: 140px;
        height:min-content;
        border-radius: 8px;
        background-color: $color-mvp-white;
        border: $color-mvp-black 1px solid;
        &__option{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 8px;
            padding: 8px;
            height: 36px;
            position: relative;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .action-button {
        // position: relative;
        position: absolute;
        bottom: 0;
        display: flex;
        min-width: 140px;
        padding: 8px;
        border: 2px solid $color-mvp-black;
        border-radius: 8px;
        background-color: $color-mvp-yellow;
        // align-self: flex-end;
        justify-content: center;
        // gap: 8px;
    }
}