@use "../../styles/partials/global" as *;

.main-nav{
    display: flex;
    justify-content: flex-start;
    gap: 1px;
    align-items: flex-start;
    align-content: center;
    position: relative;
    top: 3px;
    margin: 0 2rem;
    background-color: #F2F2F2;
    
    &__tab{
        position: relative;
        top: 0;
        background-color: #0099FF;
        border-radius: 4px 4px 0 0;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        border-left: 2px solid #000;
        border-bottom: 2px solid transparent;
        min-height: 33px;
        max-width: 128px;
        width: 100%;
        z-index: 1;
        @extend .buttons-copy;

        &.isActive{
            background-color: #E1F0FB;
            z-index: 2;
            position: relative;
        }
    }
}

// .view-container {
//     z-index: -10;
//     padding: 1rem 1rem 1rem 0;
// }