@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.overlay{
    background-color: rgba(49, 49, 49, 0.8);
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .email-modal{
        border: $color-mvp-black solid 2px;
        background-color: $color-mvp-pale-blue;
        padding: 24px;
        z-index: 2;
        max-width: 568px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 8px;
        
        &__title{
            @extend .subheader;
        }
        .send-info{
            display: flex;
            justify-content: space-between;
            gap: 1px;

            &__email-header{
                flex-shrink: 1;
                padding-top: 4px;
                @extend .body-copy;
            }
            // <FilterSummary /> goes here in the JSX
            &__close-button{
                flex-shrink: 1;
                min-width: 64px;
                @extend .body-copy;
                color: $color-mvp-white;
                border-radius: 4px;
                border: 2px solid black;
                background-color: $color-mvp-dark-blue;
                letter-spacing: 0.5px;
            }
        }

        .text-area{
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__subject-field{
                border: 2px solid $color-mvp-black;
                border-radius: 4px;
                padding: 10px 0 0 10px;
                @extend .body-copy;
                height: 36px;
                &::placeholder{
                    color: rgba($color-mvp-black, 0.35)
                }

                &:focus{
                    outline: transparent;
                }
            }
            &__message-field{
                border: 2px solid $color-mvp-black;
                border-radius: 4px;
                padding: 10px 0 0 10px;
                @extend .body-copy;
                height: 36px;
                min-height: 128px;

                &::placeholder{
                    color: rgba($color-mvp-black, 0.35)
                }

                &:focus{
                    outline: transparent;
                }
            }

            &__send-button{
                display: flex;
                min-width: 140px;
                padding: 8px;
                border: 2px solid $color-mvp-black;
                border-radius: 8px;
                background-color: $color-mvp-yellow;
                align-self: flex-end;
                display: flex;
                justify-content: center;
                gap: 8px;
            }
        }


    }
}
// .overlay {
//     position: fixed;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 4;
//     background: rgba(49, 49, 49, 0.8)
// }

// .overlay {
// }

// .modal-content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     line-height: 1.4;
//     background: #E1F0FB;
//     padding: 14px 28px;
//     border-radius: 8px;
//     border: 2px solid #000;
//     width: 70%;
//     height: 70%
// }

// .close-modal {
//     font-family: Gilroy;
//     font-size: 18px;
//     text-decoration-line: underline;
//     background: #0954B0;
//     color: #FFFFFF;
//     border-radius: 8px;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: 40px;
//     right: 40px;
//     padding: 8px 16px;
// }

// .to-sender {
//     display: flex;
//     flex-direction: row;
//     max-width: fit-content;
//     margin-top: 30px;
//     margin-left: 50px;
//     margin-bottom: 23px;
//     border: 1px solid red;
//     font-family: Gilroy;
//     font-size: 20px;
// }

// .text-area {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
    
// }

// .main-text {
//     border-radius: 8px;
//     border: 3px solid #000;
//     background: rgba(255, 255, 255, 0.50);
//     font-family: Gilroy;
//     padding: 16px;
//     width: 800px;
//     height: 300px;
//     margin-top: 23px;
// }

// .header-textbox {
//     font-family: Gilroy;
//     background: rgba(255, 255, 255, 0.50);
//     border-radius: 8px;
//     border: 3px solid #000;
//     width: 800px;
//     padding: 16px;
// }