@font-face {
    font-family: "Gilroy";
    src: url("/public/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Corben";
    src: url('/public/Corben-Bold.ttf') format('truetype');    
}