//COLORS
$color-mvp-black: #000000; //borders & text
$color-mvp-white: #FFFFFF; //text & inputs
$color-mvp-light-blue: #0099FF; //text & interactive elements
$color-mvp-yellow: #FFD22F; //backgrounds & icons
$color-mvp-dark-blue: #0954B0; //borders & text
$color-mvp-red: #FF7070; //important text
$color-mvp-cream: #FFF9F4; //backgrounds & highlights
$color-mvp-pale-blue: #E1F0FB; 
