@use "../../styles/partials/global" as *;
.community-manager{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1150px;
    position: relative;
    top: -5rem;
    // position: relative;
    // top: 0;
    @extend .body-copy;

    .view-container{
        background-color: #E1F0FB;
        min-height: 525px;
        min-width: 1140px;
        border-radius: 8px;
        border: 2px solid #000;
        z-index: 1;
        position: relative;
        top: 0;
        // position: relative;
        // top: 0;
        // margin: 0 24px;
    }

}