@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
.community-manager{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -5rem;
    @extend .body-copy;

    @include mobile-only {
        margin: 0 1rem;
    }

    @include tablet-plus{
        margin: 0 2.5rem;
    }

    .view-container{
        background-color: #E1F0FB;
        border-radius: 8px;
        border: 2px solid #000;
        z-index: 1;
        position: relative;
        top: 0;

        // @include tablet-plus {
        //     min-height: 525px;
        //     min-width: 1140px;
        // }
    }

}