@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.members-view{
    // position: relative;
    // top: -20px;
    overflow:hidden;
    // height: 50vh;

}

.member-component-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
}

.member-list-container {
    padding: 2rem 1rem;
    overflow: hidden;
}