@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.members-view{
    // position: relative;
    // top: -20px;
    overflow:hidden;
    // max-width: 1280px;
    // width: 100%;
    // height: 50vh;
    height: 800px;
    
    .members-container{
        // margin-left: 20px;
        // flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        height: 100%;
        position: relative;
        padding: 32px 32px;
        overflow: hidden;
    }

}

.member-component-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-y: hidden;
    height: 100%;
    top: 0;
}